//Colors
$primary: #0055A5;
$secondary: #FFB500;
$blue-200: #0083FF;
$white: #FFFFFF;
$gray-400: #575756;
$gray-500:  #575757;
 
//font-sizes
$sm: 0.75rem;
$default: 1rem;
$md: 1.125rem;
$lg: 1.25rem;
$xl: 1.5rem;
$xxl: 1.875rem;
$h-sm: 2.1875rem;
$h-lg: 3.125rem;

@mixin font($weight: 400, $size: 15px) {
  font: normal $weight $size 'Roboto', sans-serif;
}

@mixin font-title($size: $h-sm) {
  font: normal 400 $size 'Roboto', sans-serif;
}